<span class="heading">
  <a href="{{senderProfile}}">{{senderName}}</a> has sent you a new feeback:
</span>
<br><br>

<div class="post-body">
  {{{htmlBody}}}
</div>
<br>

<div class="post-body">
  <ul>
    <li>Reaction: {{reaction}}</li>
    <li>Created At: {{createdAt}}</li>
    <li>Location: {{location}}</li>
    <li>Context: {{context}}</li>
  </ul>
</div>


<a href="{{senderProfile}}">Check user's profile</a> or reply by email to: {{senderEmail}}<br><br>
